

<div class="home-container">
  <div class="home-links">
    <%= link_to "Show Your Task", user_path(@user), class: "home-link" %>

    <% if can? :create, Task %>
      <%= link_to "New Task", new_task_path, class: "home-link" %>
    <% end %>
  </div>
</div>
