

<div class="tasks-container">
  <h1>Assigned Tasks</h1>

  <ul class="task-list">
    <% @tasks.each do |task| %>
      <li class="task-item">
        <%= link_to task.title, task_details_path(task) %>
      </li>
    <% end %>
  </ul>
</div>

